$googleTiming = cubic-bezier(0.4, 0.0, 1, 1)
$revealTiming = cubic-bezier(0.260, 0.860, 0.440, 0.985)
$uberTiming = cubic-bezier(0.8, 0, 0.2, 1)
$fastInSlowOut = cubic-bezier(0.075, 0.82, 0.165, 1)
$tFast = 175ms
$tSlow = 300ms
$tDurationDeafault = $tSlow
$tTimingFunctionDefault = $revealTiming
$fontDefault = Verdana, system-ui, -apple-system, Arial, sans-serif
$fontSize = 14px
$lineHeight = 24px

$cText = #150D20
$cTextMuted = #9D94A8
$cBackground = white
$cPrimary = var(--cz-accent-color, #ee01ff)
$cAccent = var(--cz-primary-color, #5277F1)
$cAccentHover = var(--cz-primary-color-hover, #4b6cd9)
$cAccess = #43AC1E

$headerHeight = 70px
$sideBarWidth = 250px
//$fullHeightNoHeader = 'calc(100vh - %s)' % $headerHeight
$fullHeightNoHeader = 'calc(100vh - %s)' % $headerHeight
//$fullWidthNoSidebar = 'calc(100vw - %s)' % $sideBarWidth
$fullWidthNoSidebar = 'calc(100vw - %s)' % $sideBarWidth
$authFormWidth = 504 pxW

$desktopWidth = 1440px
$tabletHorWidth = 1024px
$tabletVerWidth = 768px
$phoneWidth = 320px

